h3 {
	margin: 2rem 0;
}

h1, h3 {
	color: white;
}

.menu {
	display: flex;
	list-style: none;
}

.menu li {
	padding: 0.5rem 2rem;
	background-color: hsl(100, 100%, 40%);
	font-size: 1.2rem;
	color: white;
}

.menu li:first-child {
	border-top-left-radius: 10px;
}

.menu li:last-child {
	border-top-right-radius: 10px;
}

.menu li:not(.disabled):hover{
	cursor: pointer;
	filter: brightness(1.05);
}


.disabled {
	filter:saturate(.3);
	pointer-events: none;
}